@charset "utf-8";

@media screen and (min-width: 1201px) {
   #header .recruit_link {float: right;}
   #header .recruit_link:after {content: "";display: block;float: right;width: 15px;height: 15px;background: url(../img/ico_pc_200707.png);background-position: 0 0;}

   header:hover h1 a {background-image: url(../img/logo_enterprise_b.png) !important;}

   header #gnb>li>a {display: block;padding: 0 45px;line-height: 60px;position: relative;z-index: 900;}
   header #gnb>li>a:hover:after {content:"";display: block;height: 2px;}
}

@media screen and (max-width: 1200px) {
   #header .recruit_link {border: 1px solid #FFF;}
   #header .recruit_link:after {content: "";display: block;float: right;width: 24px;height: 24px;background: url(../img/ico_mo_200707.png);background-position: 0 0;}
   
}

@media screen and (max-width: 500px) {
   .contents_wrap {}
}