@charset "utf-8";

@font-face {
   font-family: 'NanumGothic';
   src: url(../font/NanumBarunGothic.ttf);
   font-family: 'NanumGothicB';
   src: url(../font/NanumBarunGothicBold.ttf);

}
@font-face {
 font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
 font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;  
}
@font-face {
   font-family: 'GmarketSansMedium';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
/*common*/
body {overflow-x:hidden;font-family: 'NanumGothicB';}

.mo_logo, .mo_close, .product_mo_prev, .product_mo_next, .mo_prev, .mo_next {display: none;}
.container {margin: auto;position: relative;}
.blind {display: block;width: 0;height: 0;overflow: hidden;visibility: hidden;}
.clrfix:after {content: "";display: block;clear: both;}


/*skip_nav*/
.skip_nav a {display: block;position: absolute;top: -30px;left: 0;}
.skip_nav a:focus {top: 0;}

/*header*/
header {padding: 30px 0;}
header h1 {position: absolute;top: 50%;transform: translateY(-50%);}
header h1 a {display: block;background: url(../img/logo.png) no-repeat left center;width: 140px;height: 32px;}

header .gnb {font-family: 'EliceDigitalBaeum_Bold';}
header .gnb>li>a {position: relative;}
header .gnb>li img {position: absolute;top: 40%;left: 50%;transform: translateX(-50%);width: 20%;}


header .gnb .dep2 {display: none;position: absolute;left: 0;right: 0;top: 50px;height: 400px;width: 80vw;background: #FFF;color: #000;font-size: 18px;}
header .gnb .dep2>li {display: inline-block;width: 180px;height: 100%;padding-top: 15px;padding-left: 20px;vertical-align: top;}
/*header .gnb .dep2>li:hover:before {background: url(../img/text_deco.png);display: block;width: 7px;height: 7px;} 3뎁스 호버시 text-decoration효과(미완)*/
header .gnb .dep2 li:hover>a {color: #e50112;}

header .gnb .dep3 {font-size: 14px;text-align-last: left;}
header .gnb .dep3>li {display: inline-block;text-indent: 50px;width: 220px;padding-right: 20px;}


header .lang li {float: left;font-family: 'NanumGothic';}
header .lang li:first-child:after {
	content:"";display: block;float: right;width: 1px;height: 10px;background: #848484;margin: 5px 12px;
}

/*main*/
main .new_production h2, main .brand h2, main .event h2, main .news h2, main .sweetargram h2 {font-family: 'EliceDigitalBaeum_Bold';}


main #main_visual img {background-size: 100% auto !important;}


main .intro {position: relative;padding-bottom: 100px;text-align: center;}
main .intro h2 {margin: 100px 0;vertical-align: middle;font-size: 55px;font-family: 'ONE-Mobile-POP';line-height: 60px;}
main .intro h2 strong {color: #e50112;}
main .intro li {width: calc(100% / 3);float: left;}

main .intro li span {display: block;}
main .intro li span.int_txt {display: inline-block;font-size: 20px;color: #000;line-height: 30px;letter-spacing: -0.05em;font-family: 'GmarketSansMedium';margin-top: 50px;}
main .intro li:last-child span {margin-right: 0;}
main .intro li span.int_img {padding-top: 34.4086021%;height: 0;position: relative;}
main .intro li img {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);}

main .more_page {margin-top: 50px;}
main .more_page a {font-size: 22px;display: inline-block;position: relative;border: 1px solid #111;margin: auto;overflow: hidden;padding: 10px 40px;line-height: 30px;}
main .more_page a i {display: block;position: relative;z-index: 10;height: 30px;}
main .more_page a:before {content: "";display: block;background: #e50112;width: 0;position: absolute;left: 0;top: 0;transition: width 0.4s;}
main .more_page a:hover:before {width: 225px;height: 100%;}
main .more_page a:hover i {color: #FFF;}
main .more_page a span {display: inline-block;}
main .more_page a span:after {content: "→";display: inline-block;font-size: 20px;margin-left: 0;vertical-align: middle;}
main .more_page a:hover span:after {color: #FFF;}


main .new_production {background: #efebe7;padding-bottom: 0;padding-top: 60px;text-align: center;}
main .new_production h2 {font-size: 35px;padding: 20px 0 50px 0;}
main .new_production li {box-sizing: border-box;margin-bottom: 30px;}
/* main .new_production li:first-child {margin-left: 50px;} */
main .new_production span {display: block;}
main .new_production span.new_img {padding-top: 147.5155%;height: 0;position: relative;}
main .new_production img {width: 100%;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
main .new_production span.new_txt {font-size: 22px;display: block;line-height: 80px;color: #333;}
main .swiper-container {overflow: hidden;margin-left: 10%;}
main .slide_bar {background: pink;height: 5px;}



main .brand {padding-bottom: 100px;text-align: center;}
main .brand h2 {margin: 130px 0;vertical-align: middle;font-size: 35px;}
main .brand ul.production {display: none;}

main .tabs ul {margin-left: 10%;margin-right: 10%;}
main .tabs li {float: left;width: calc(100% / 4 - 20px);margin-right: 20px;margin-bottom: 100px;position: relative;}
main .tabs li a span {display: block;width: 200px;height: 5px;position: absolute;left: 50%;bottom: -5%;transform: translateX(-50%) ;}

main .tabs .tab1 a span {background: #6b4e2e;}
main .tabs .tab2 a span {background: #42080b;}
main .tabs .tab3 a span {background: #e50112;}
main .tabs .tab4 a span {background: #00aa91;}
main .tabs li img {display: block;margin: 0 auto;cursor: pointer;width: 60%;}
main .tabs li.tab_on {}





main .contents h3 {font-size: 20px;line-height: 30px;margin-bottom: 50px;color: #333;}
main .contents h3 strong {font-size: 30px;}
main .contents li {float: left;width: calc(100% / 4 - 20px);margin-right: 20px;margin-bottom: 20px;position: relative;background: #EEE;border-radius: 15px;}
main .contents li:hover {background: #DDD;}

main .contents li span {display: block;line-height: 80px;margin-top: 340px;color: #333;}

main .contents li img {width: 70%;height: auto;max-height: 340px;position: absolute;left: 15%;top: calc(50% - 30px);transform: translateY(-50%);}
main .contents>div {display: none;}
main .contents .content1 {display: block;}

main .quick_menu_wrap {margin: 150px auto;border-top: 1px solid #faa;
   border-bottom: 1px solid #ffaaaa;}
main .quick_menu {text-align: center;padding: 30px 0px;margin: 0 10%;}
main .quick_menu li {float: left;width: calc(100% / 4);}
main .quick_menu li a:hover img {height: 98px;}
main .quick_menu li span {display: block;margin-top: 20px;}
main .quick_menu img {display: block;margin: 0 auto;height: 100px;}

main .event {text-align: center;}
main .event h2 {font-size: 35px;margin-bottom: 100px;}
main .event ul li {float: left;width: calc(100% / 2 - 80px);}
main .event ul li a {overflow: hidden;display: block;margin-bottom: 200px;}
main .event ul li a:hover img {transform: scale(1.01);}
main .event ul li:first-child {margin-right: 80px;}
main .event ul li img {display: block;width: 100%;border-radius: 5px;}

main .news {text-align: center;margin-top: 100px;}
main .news h2 {font-size: 35px;margin-bottom: 70px;}
main .news ul li {float: left;width: calc(100% / 3 - 20px);margin-right: 20px;}

main .news ul li a {display: block;overflow: hidden;}
main .news ul li a:hover img {transform: scale(1.03);}
main .news ul li img {display: block;max-width: 100%;height: auto;margin: 0 auto;}

main .sweetargram {background: #fcf2f3;padding: 80px 0 160px 0;margin-top: 200px;text-align: center;}
main .sweetargram .container {max-width: calc(320px * 4);}
main .sweetargram h2 {font-size: 35px;text-align: center;margin-bottom: 75px;}

main .sweetargram .sns_list li {float: left;width: calc(100% / 4);max-width: 320px;}
main .sweetargram .sns_list li a {display: flex;overflow: hidden;max-width: 320px;}
main .sweetargram .sns_list li:nth-child(5n) {clear: both;}
main .sweetargram .sns_list li img {max-width: 100%;height: auto;}
main .sweetargram .sns_list li a:hover img {transform: scale(1.03);}
main .flower {display: none;}
main .pink_chocopie {display: none;}
main .pink_chocopie img {max-width: 100%;height: auto;}

/*footer*/
footer {background: #EEE;position: relative;padding: 30px 0 50px 10%}

footer .footer_menu li {padding: 40px 0;float: left;margin-right: 40px;font-size: 20px;color: #111;}
footer address {line-height: 35px;padding-bottom: 40px;color: #444;}
footer .copyright {font-family: 'NanumGothic';font-size: 14px;color: #333;}
footer .footer_sns {float: right;position: absolute;top: 15%;right: 15%;}
footer .footer_sns li {float: left;width: 60px;padding-right: 10px;}
footer .footer_sns li img {width: 100%;}



/*Desk Top*/
@media screen and (min-width: 1201px) {
.container {width: 80%;min-width:1200px;}
.slide_bar {border-radius: 10px;position: relative;background: rgba(0, 0, 0, 0.1);}
header .gnb {text-align: center;}
header .gnb>li {display: inline-block;margin: 0 40px;line-height: 50px;font-size: 20px;}
header .gnb>li>a:hover:after {display: block;width: 200px;height: 5px;position: absolute;left: 50%;bottom: 0;transform: translateX(-50%);background: #e50112;z-index: 20;}
header .lang {position: absolute;top: 50%;right: 0;transform: translateY(-50%);font-size: 14px;}

main .intro {position: relative;padding-bottom: 100px;padding-top: 100px;}
main .intro h2 {margin: 100px 0;font-size: 50px;}
main .intro li {width: calc(100% / 3);}
main .intro li span.int_txt {font-size: 20px;color: #222;line-height: 24px;letter-spacing: -0.05em;}
main .intro li:last-child span {margin-right: 0;}
main .more_page {margin-top: 50px;}
main .more_page a {font-size: 22px;border: 1px solid #111;padding: 10px 40px;line-height: 30px;}
main .more_page a i {z-index: 10;height: 30px;}
main .more_page a:before {width: 0;left: 0;top: 0;}
main .more_page a:hover:before {width: 225px;height: 100%;}

main .more_page a span:after {font-size: 20px;margin-left: 0;vertical-align: middle;}

main #main_visual {height: calc(100vh - 150px);}
main #main_visual .slide1 {background: url(../img/main_vis1.png);}
main #main_visual .slide2 {background: url(../img/main_vis2.png);}

main .tabs li a span {display: block;width: 200px;height: 5px;position: absolute;left: 50%;bottom: -5%;transform: translateX(-50%);}

main .tabs li strong {display: none;}



main .pink_chocopie {
   right: 0;bottom: -5%;}

.mo_br {display: none;}
   
}

/*Tablet*/
@media screen and (max-width: 1200px) {
   .mo_open, .mo_close {display: block;}
   .container {width: 85%;}

   header {padding: 40px 0;}
   header .mo_open {background: url(../img/menubar.png) center;position: absolute;top: 50%;right: 0;width: 42px;height: 25px;transform: translateY(-50%);cursor: pointer;}
   header .mo_close {background-image: url(../img/closebar.png);width: 40px;height: 31px;cursor: pointer;position: absolute;top: 50px;right: 15%;transform: translateY(-50%);}
   header nav {position: fixed;right: -400px;top: 0;z-index: 10;width: 400px;height: 100%;padding: 60px 20px;background: #FFF;box-sizing: border-box;}
   header nav .mo_logo {background: url(../img/logo.png) no-repeat;display: block;width: 140px;height: 32px;margin-top: -30px;margin-bottom: 20px;}
   header .mo_gnb_bg {position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.8);display: none;z-index: 9;}
   header .gnb>li {display: block;width: 150px;line-height: 60px;font-size: 24px;margin-bottom: 10px;}
   header .gnb>li>a:hover:after {display: none;}

   main #main_visual {height: calc(80vh);}
   main #main_visual .slide1 {background: url(../img/tablet_vis1.png);}
   main #main_visual .slide2 {background: url(../img/tablet_vis2.png);}

   main .intro h2 {font-size: 40px;}
   main .intro li {margin-bottom: 50px;width: 33%;}
   main .intro li img {margin-bottom: 60px;max-width: 70%;height: auto;}

   main .intro li span.int_txt {font-size: 16px;line-height: 22px;letter-spacing: -0.05em;margin-left: -25px;}
   main .intro li:last-child span {margin-right: 0;}
   main .intro li span.int_img {padding-top: 34.4086021%;}

   main .more_page {font-size: 18px;}

   main .tabs ul {margin-left: 0;margin-right: 0;}
   main .tabs li {width: calc(25% - 10px);margin-right: 10px;}
   main .tabs li strong {display: none;}
   main .tabs li a span {width: 70%;}

   main .contents li {width: calc(100% / 3 - 20px);}
   

   main .quick_menu img {height: 80px;}
   main .quick_menu li a:hover img {height: 79px;}

   main .event ul li img {max-width: 100%; height: auto;}

   
   main .news ul li img {max-width: 100%;height: auto;}

   main .sweetargram .sns_list li img {max-width: 100%;height: auto;}

   footer .footer_sns {top: -50%;right: 50%;transform: translateX(50%);}
}

/*Mobile*/
@media screen and (max-width: 800px) {
   .mo_open, .mo_close, .product_mo_prev, .product_mo_next, .mo_prev, .mo_next {display: block;}
   .container {width: 90%;}
   header {padding: 40px 0;}
   header .mo_open {background: url(../img/menubar.png) center;position: absolute;top: 50%;right: 0;width: 42px;height: 25px;transform: translateY(-50%);cursor: pointer;}
   header .mo_close {background-image: url(../img/closebar.png);float: right;width: 40px;height: 31px;cursor: pointer;margin: -10px 0 0 0;}

   header nav {position: fixed;right: -400px;top: 0;z-index: 15;width: 360px;height: 100%;padding: 20px;background: #FFF;box-sizing: border-box;}
   header nav .mo_logo {width: 140px;height: 32px;margin-top: 13px;}
   

   header .gnb {margin-top: 20px;margin-bottom: 30px;}
   header .gnb>li {display: block;width: 150px;line-height: 50px;font-size: 22px;}
   header .gnb>li>a:hover:after {display: none;}
   
   main #main_visual {height: 60vh;}
   main #main_visual .slide1 {background: url(../img/mo_vis4.png) center;}
   main #main_visual .slide2 {background: url(../img/mo_vis3.png) top center;}

   main .intro h2 {font-size: 35px;}
   main .intro li {margin-bottom: 50px;margin-left: 50%;transform: translateX(-50%);}
   main .intro li span.int_txt {font-size: 18px;line-height: 22px;letter-spacing: normal;display: block;width: 400px;margin-left: -100px;}
   main .intro li:nth-child(2), main .intro li:last-child {display: none;}
   main .intro li img {width: 100%;}

   main .new_production h2 {font-size: 26px;}
   main .new_production li {margin-right: 60px;}
   main .new_production span {font-size: 14px;line-height: 60px;margin-top: 20px;}

   main .brand h2 {font-size: 26px;}

   main .tabs li {width: 25%;margin-right: 0;font-size: 20px;}
   main .tabs li img {display: none;}
   main .tabs li strong {display: block;}
   main .tabs .tab1 {color: #6b4e2e;}
   main .tabs .tab2 {color: #42080b;}
   main .tabs .tab3 {margin-top: -9px;color: #e50112;}
   main .tabs .tab4 {color: #00aa91;}
   /* main .tabs .btn{padding: 10px 10px;color: #000;position: relative;display:inline-block;}
   main .tabs .btn:before{content: '';position: absolute;bottom: 0px;left: 0px;width: 100%;height: 2px;background: #e50112;display: block;transform-origin: right top;transform: scale(0, 1);transition: transform 0.4s cubic-bezier(1, 0, 0, 1)}
   main .tabs .btn:hover:before{transform-origin: left top;transform: scale(1, 1)} */
   main .tabs li a span {width: 40%;height: 3px;bottom: -10px;}
   

   main .contents h3 {font-size: 18px;line-height: 26px;}
   main .contents h3 strong {font-size: 22px;}
   main .contents ul {margin: 5%;}
   main .contents li {width: calc(50% - 20px);height: 300px;}
   main .contents li span {line-height: 60px;margin-top: 220px;}
   main .contents li img {height: auto;max-height: 240px;width: 80%;left: 10%;}
   

   main .quick_menu_wrap {margin-bottom: 100px;}
   main .quick_menu li {width: 25%;}
   main .quick_menu img {height: 58px;}
   main .quick_menu li a:hover img {height: 57px;}

   main .event h2 {font-size: 26px;}
   main .event ul {max-width: 100%;}
   main .event ul li {width: 100%;}
   main .event ul li:last-child {display: none;}
   main .event ul li img {max-width: 100%;height: auto;}
   
   main .news h2 {font-size: 26px;}
   main .news ul li {width: 45%;}
   main .news ul li:last-child {display: none;}
   main .news ul li a {width: 260px;height: auto;}
   main .news ul li img {max-width: 80%;height: auto;}
   

   main .sweetargram {padding: 50px 0 180px 0;}
   main .sweetargram h2 {font-size: 26px;}
   main .sweetargram .sns_list {margin: 0;}
   main .sweetargram .sns_list li {width: calc(100% / 3);}
   main .sweetargram .sns_list li:nth-child(4n) {display: none;}
   main .sweetargram .sns_list li:nth-child(5n) {clear: both;}
   main .sweetargram .sns_list img {max-width: 80%;height: auto;}
   main .sweetargram .sns_list li a:hover img {transform: scale(1.01);}

   main .pink_chocopie {right: -18%;top: 5%;}
   main .pink_chocopie img {width: 50%;}

   footer {background: #FFF;}
   footer .footer_menu li {font-size: 14px;}
   footer address {font-size: 12px;line-height: 24px;}
   footer .copyright {font-size: 12px;}
   footer .footer_sns {top: -50%;right: 50%;transform: translateX(50%);}
   footer .footer_sns li {width: calc(25% - 10px);}
}


